# PostgreSQL
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=wild_life_db

# API
API_V1_STR=/api/v1
PROJECT_NAME=FastAPI App
BACKEND_CORS_ORIGINS=["http://localhost:3000", "http://localhost:8080"]

# Security
SECRET_KEY=change-this-to-a-secure-secret-key
ACCESS_TOKEN_EXPIRE_MINUTES=30 

LOG_FILENAME=app.log